@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/** insert global styles below: (see https://preset-env.cssdb.org more info */
body {
	background: pink;
	display: inline;

	& .root {
		display: inline;
	}
}
